<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NwsAlerts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <NwsAlerts.Properties.Settings>
      <setting name="MessageTypes" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="EventList" serializeAs="String">
        <value>Severe Thunderstorm Watch
Tornado Watch
Tornado Warning
Flood Advisory
Flood Watch
Flood Warning
Flash Flood Watch
Flash Flood Warning
Small Stream Flood Advisory
Urban And Small Stream Flood Advisory</value>
      </setting>
      <setting name="Severity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value />
      </setting>
    </NwsAlerts.Properties.Settings>
  </userSettings>
</configuration>
